<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1>Rider Details</h1>

	<table class="table table-striped">
		<th>Name</th><th>Nationality</th><th>Team</th><th>Nº victories</th>
		<tr th:each="rider : ${riders}">
			<td th:text="${rider.name}"></td>
			<td th:text="${rider.nationality}"></td>
			<td th:text="${rider.team}"></td>
			<td th:text="${rider.victories}"></td>
		</tr>
	</table>

	<div style="height: 2cm">&nbsp;</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>